<!DOCTYPE html>
<html>
  <head>
    <meta name="csrf-param" content="authenticity_token">
    <title>Target: RPS</title>
    <meta name="csrf-token" content="SnfzY8MI+ByL2VzdGZcW7QQ3wTY5F34FbiKbogDPc3IPIKjMfnzF2XpvfjMMfVVN6e5vXzdHBj7R67kxcfsr2A==">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" media="all" href="/assets/application-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css">
  </head>

  <body>
  <div class="navbar">
    <div><a href="/rock">Play Rock</a></div>
    <div><a href="/paper">Play Paper</a></div>
    <div><a href="/scissors">Play Scissors</a></div>
  </div>

    <%= yield %>

  </body>
</html>
